<div id="leave-years" class="pull-right" ng-init="activeHolidayYearIndex = 1">
    <span ng-repeat="item in holidayYears" ng-click="activateYear($index)" ng-class="{'active-leave-year': activeHolidayYearIndex === $index, 'inactive-leave-year': activeHolidayYearIndex !== $index}">{{item}}</span>
</div>
<table class="table" cg-busy="cgBusyOptions">
    <thead>
        <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Holiday</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="h in holidayList">
            <td ng-bind="h.day"></td>
            <td ng-bind="h.date"></td>
            <td ng-bind="h.name"></td>
        </tr>
    </tbody>
</table>