<form name="application" data-novalidate data-ng-submit ng-controller="ngoDashboard as ngoDashboard" ng-init="ngoDashboard.init()">
    <div class="container">
        <h2>NGO User List</h2>
        <p>Angel View</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in userList">
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.location}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="updateStatus(x.id)">Update safe</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>