<form class="view-area" name="application" data-novalidate data-ng-submit ng-controller="ngoDashboard as ngoDashboard" ng-init="ngoDashboard.init()">
    <div id="header">
        <h2>Angel View</h2>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <tbody>
            <tr ng-repeat="x in userList" ng-if="x.activity !== 'RESCUED'">
                <td>{{x.customerName}}</td>
                <td>{{x.customerLocation}}</td>
                <td>{{x.description}}</td>
                <td>
                    <button class="btn btn-primary-yellow" ng-click="ngoDashboard.rescue(x)">Mark Safe</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>