<form class="view-area" name="application" data-novalidate data-ng-submit ng-controller="ngoDashboard as ngoDashboard" ng-init="ngoDashboard.init()">
    <div id="header">
        <h2>Angel View</h2>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <tbody>
            <tr ng-repeat="x in userList">
                <td>{{x.reportingDate}}</td>
                <td>{{x.customerName}}</td>
                <td>{{ngoDashboard.locations[x.location]}}</td>
                <td>
                    <button id="mark-safe-button" class="btn btn-primary-yellow" ng-disabled="x.isMarkSafeDisabled" ng-click="ngoDashboard.rescue(x)">{{activity['MARK_SAFE'][x.isMarkSafeDisabled]}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>