<div class="view-area" ng-controller="abnAmroDashboard as abnAmroDashboard" ng-init="abnAmroDashboard.init()">
    <div id="header">
        <h2>Guardian View</h2>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <tbody>
                <tr ng-repeat="x in userList" ng-if="x.activity !== 'CANCEL_ALERT'">
                    <td>{{x.customerName}}</td>
                    <td>{{x.location}}</td>
                    <td>
                        <button class="btn btn-danger" ng-if="x.activity === 'NA'" ng-click="abnAmroDashboard.raiseAlertMessage(x.customerId)">Help</button>
                        <button class="btn btn-danger" ng-if="x.activity === 'MESSAGE_SENT'" ng-click="abnAmroDashboard.sendAlertToNGO(x)">Publish Alert</button>
                        <button class="btn btn-default" ng-if="x.activity !== 'CANCEL_ALERT'" ng-click="abnAmroDashboard.cancelCustomerAlert(x)">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>