<div class="header">
    <select class="form-control pull-left" name="month" id="month" ng-model="selectMonth"
            ng-options="month.value as month.name
            for
            month in months"
            ng-change="changeMonth(selectMonth)">
    </select>
    <select class="form-control pull-left" name="year" id="year" ng-model="selectYear" ng-change="changeYear(selectYear)">
        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
    </select>
</div>
<div class="week names">
    <span class="day">Sun</span>
    <span class="day">Mon</span>
    <span class="day">Tue</span>
    <span class="day">Wed</span>
    <span class="day">Thu</span>
    <span class="day">Fri</span>
    <span class="day">Sat</span>
</div>
<div class="week dates" ng-repeat="week in weeks">
    <span
        class="day"
        ng-class="{ today: day.isToday,
        'weekend': (day.name === 'S'),
        'holiday': (day.holidayType === 'Holiday'),
        'different-month': !day.isCurrentMonth,
        'leave': (day.holidayType === 'Annual Leave'), 'compoff': (day.holidayType === 'Comp Off'), 'onduty': (day.holidayType === 'On Duty') }"
        ng-click="select(day)"
        ng-repeat="day in week.days">
        {{day.number}}
    </span>
</div>